/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-bar-style::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.scroll-bar-style::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 999px;
}

:root .lll-btn-active {
  color: rgba(255, 255, 255, 0.85);
  background: rgba(255, 255, 255, 0.18);
}
